.row
  .col-md-6(ng-controller="AlertController", ng-init="getAlerts()")
    uib-alert(ng-repeat="alert in alerts", close="closeAlert($index)", type="alert alert-info")
      | {{alert.message}}
  // /.col
  .col-md-6
  // /.col
// /.row
