//- .row
//- .col-md-6
//-   .box.box-danger
//-     .box-header
//-       i.fa.fa-warning
//-       h3.box-title Alerts
//-     // /.box-header
//-     .box-body
//-       .alert.alert-danger.alert-dismissable
//-         i.fa.fa-ban
//-         button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
//-         b Alert!
//-         | Danger alert preview. This alert is dismissable.
//-       .alert.alert-info.alert-dismissable
//-         i.fa.fa-info
//-         button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
//-         b Alert!
//-         | Info alert preview. This alert is dismissable.
//-       .alert.alert-warning.alert-dismissable
//-         i.fa.fa-warning
//-         button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
//-         b Alert!
//-         | Warning alert preview. This alert is dismissable.
//-       .alert.alert-success.alert-dismissable
//-         i.fa.fa-check
//-         button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
//-         b Alert!
//-         | Success alert preview. This alert is dismissable.
//-     // /.box-body
//-   // /.box
//- // /.col
//- // /.row