.row
.col-md-6(ng-show="alerts.length>0")
  .box.box-info
    .box-header
      i.fa.fa-info
      h3.box-title Alerts ({{alerts.length}})
    // /.box-header
    .box-body
      .alert.alert-info.alert-dismissable(ng-repeat="alert in alerts")
        i.fa.fa-ban
        button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
        | {{alert.message}}
    // /.box-body
  // /.box
// /.col
// /.row