// Header Navbar: style can be found in header.less
nav.navbar.navbar-static-top(role='navigation')
	// Sidebar toggle button
	a.navbar-btn.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
		span.sr-only Toggle navigation
		span.icon-bar
		span.icon-bar
		span.icon-bar
	.navbar-right
		ul.nav.navbar-nav
			include ./messages_navbar
			include ./notifications_navbar			
			include ./cart_navbar
			include ./account_navbar