// Left side column. contains the logo and sidebar
aside.left-side.sidebar-offcanvas
	// sidebar: style can be found in sidebar.less
	section.sidebar(ng-app="redrumApp", ng-controller="LeftMenuController", ng-init="init()")
		// Sidebar user panel
		.user-panel
			.pull-left.image
				img.img-circle(src='/img/avatar3.png', alt='User Avatar')
			.pull-left.info
				p Hello, {{user_name}}
				a(href='/profile')
					i.fa.fa-circle.text-success
					| {{user_status}}
		// sidebar menu: : style can be found in sidebar.less
		ul.sidebar-menu
			li.active
				a(href='/dashboard')
					i.fa.fa-dashboard
					span Dashboard
			li
				a(href='/profile')
					i.fa.fa-user
					span Profile
			li.treeview
				a(href='#')
					i.fa.fa-shopping-cart
					span Market
					i.fa.fa-angle-left.pull-right
				ul.treeview-menu
					li
						a(href='/market#products')
							i.fa.fa-angle-double-right
							| Products
							small.badge.pull-right.bg-red {{product_count}}
					li
						a(href='/market#cart')
							i.fa.fa-angle-double-right
							| Your shopping cart
							small.badge.pull-right.bg-yellow {{cart_items_size}}
					li
						a(href='/market#inventory')
							i.fa.fa-angle-double-right
							| Your inventory
					li
						a(href='/market#orders')
							i.fa.fa-angle-double-right
							| Your orders
							small.badge.pull-right.bg-light-blue {{user_orders_size}}
					li
						a(href='/market#redeem')
							i.fa.fa-angle-double-right
							| Redeem coupons
					li
						a(href='/market#credit')
							i.fa.fa-angle-double-right
							| Buy game credit
			li
				a(href='/stats')
					i.ion.ion-stats-bars
					span Statistics
			li
				a(href='/game')
					i.ion.ion-game-controller-b
					span Game
	// /.sidebar
