// Left side column. contains the logo and sidebar
aside.left-side.sidebar-offcanvas
	// sidebar: style can be found in sidebar.less
	section.sidebar
		// Sidebar user panel
		.user-panel
			.pull-left.image
				img.img-circle(src='/img/avatar3.png', alt='User Image')
			.pull-left.info
				p Hello, Jane
				a(href='#')
					i.fa.fa-circle.text-success
					| Online
		// sidebar menu: : style can be found in sidebar.less
		ul.sidebar-menu
			li.active
				a(href='/dashboard.html')
					i.fa.fa-dashboard
					span Dashboard
			li
				a(href='/profile.html')
					i.fa.fa-user
					span Profile
			li.treeview
				a(href='#')
					i.fa.fa-shopping-cart
					span Market
					i.fa.fa-angle-left.pull-right
				ul.treeview-menu
					li
						a(href='/market.html')
							i.fa.fa-angle-double-right
							| Products
							small.badge.pull-right.bg-red 56
					li
						a(href='/market.html')
							i.fa.fa-angle-double-right
							| Shopping
							small.badge.pull-right.bg-yellow 12
					li
						a(href='/market.html')
							i.fa.fa-angle-double-right
							| Your inventory
					li
						a(href='/market.html')
							i.fa.fa-angle-double-right
							| Your orders
							small.badge.pull-right.bg-light-blue 2345
					li
						a(href='/market.html')
							i.fa.fa-angle-double-right
							| Redeem coupons
					li
						a(href='/market.html')
							i.fa.fa-angle-double-right
							| Buy game credit
			li.treeview
				a(href='#')
					i.fa.fa-folder
					span Examples
					i.fa.fa-angle-left.pull-right
				ul.treeview-menu
					li
						a(href='/examples/invoice.html')
							i.fa.fa-angle-double-right
							| Invoice
					li
						a(href='/examples/login.html')
							i.fa.fa-angle-double-right
							| Login
					li
						a(href='/examples/register.html')
							i.fa.fa-angle-double-right
							| Register
					li
						a(href='/examples/lockscreen.html')
							i.fa.fa-angle-double-right
							| Lockscreen
					li
						a(href='/examples/404.html')
							i.fa.fa-angle-double-right
							| 404 Error
					li
						a(href='/examples/500.html')
							i.fa.fa-angle-double-right
							| 500 Error
					li
						a(href='/examples/blank.html')
							i.fa.fa-angle-double-right
							| Blank Page
	// /.sidebar
