// User Account: style can be found in dropdown.less
li.dropdown.user.user-menu(ng-app="redrumApp", ng-controller="MenuController")
	a.dropdown-toggle(href='#', data-toggle='dropdown')
		i.glyphicon.glyphicon-user
		span
			| {{user.full_name}}
			i.caret
	ul.dropdown-menu
		// User image
		li.user-header.bg-light-blue
			img.img-circle(src='/img/avatar3.png', alt='User Image')
			p
				| {{user.full_name}}
				small Member since {{user.member_since}}
		// Menu Body
		li.user-body
			.col-xs-12.text-center
				a(href='/dashboard') Dashboard 
		// Menu Footer
		li.user-footer
			.pull-left
				a.btn.btn-default.btn-flat(href='/profile') Profile
			.pull-left
				a.btn.btn-default.btn-flat(href='/market#inventory') Inventory
			.pull-left
				a.btn.btn-default.btn-flat(href='/signin') Sign out
