.box
	.box-header
		h3.box-title Your shopping cart
	// /.box-header
	.box-body
		// Table row
		.row
			.col-xs-12.table-responsive
				table.table.table-striped
					thead
						tr
							th Product
							th Qty
							th Cost
							th Action
					tbody
						tr(ng-repeat="cartItem in cart.cartItems")
							td {{cartItem.name}}
							td {{cartItem.quantity}}
							td {{cartItem.price}}
							td
								div
									span(ng-repeat="link in cartItem.links | filter: {rel: 'add'}")
										a.btn.btn-primary.btn-xs(href="" ng-click="addToCart(link.href)") {{link.label}}	
									span(ng-repeat="link in cartItem.links | filter: {rel: 'remove'}")
										a.btn.btn-info.btn-xs(href="" ng-click="removeFromCart(link.href)") {{link.label}}
						tr
							td
							th(align="right") Total Amount Due:
							td {{cart.cartTotal}}
							td
								div
									span(ng-repeat="link in cart.links | filter: {rel: 'emptyCart'}")
										a.btn.btn-danger.btn-xs {{link.label}}
									| 
									span(ng-repeat="link in cart.links | filter: {rel: 'purchase'}")
										a.btn.btn-success.btn-xs {{link.label}}
								
								

			// /.col
		// /.row
	// /.box-body
// /.box	