.box
	.box-header
		h3.box-title Redeem coupons
	// /.box-header
	.box-body
		.row
			.col-xs-5(data-ng-repeat="link in cart.links | filter: {rel:'redeem'}")
				.input-group.input-group-sm
					.input-group-btn
						form(data-ng-submit="redeemCoupon(link, couponCode)")
							input.form-control(type='text', placeholder='Enter coupon code here', data-ng-model='couponCode')
							button.btn.btn-info.btn-flat(type='submit') Redeem!
	// /.box-body
// /.box