.box
	.box-body
		.row
			.col-md-6
				.box.box-info
					.box-header
						h3.box-title Game Credit
					.box-body
						script(src="https://js.braintreegateway.com/v2/braintree.js", type="text/javascript")
						credit
