.box
	.box-body
		.row
			.col-md-6
				.box.box-info
					.box-header
						i.fa.fa-bullhorn
						h3.box-title Game Credit
					// /.box-header
					.box-body
						credit
					// /.box-body
				// /.box
			// /.col
		// /.row
	// /.box-body
// /.box