.box
	.box-body
		.row
			.col-md-6
				.box.box-info
					.box-header
						i.fa.fa-bullhorn
						h3.box-title Game Credit
					// /.box-header
					.box-body
						.callout.callout-danger
							h4 I am a danger callout!
							p.text-muted.well.well-sm.no-shadow(style='margin-top: 10px;')
								| There is a problem that we need to fix. A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
						.callout.callout-info
							h4 I am an info callout!
							p.text-muted.well.well-sm.no-shadow(style='margin-top: 10px;')
								| Follow the steps to continue to payment.
						.callout.callout-warning
							h4 I am a warning callout!
							p.text-muted.well.well-sm.no-shadow(style='margin-top: 10px;')
								| Follow the steps to continue to payment.
						p.lead Payment Methods:
						img(src='/img/credit/visa.png', alt='Visa')
						img(src='/img/credit/mastercard.png', alt='Mastercard')
						img(src='/img/credit/american-express.png', alt='American Express')
						img(src='/img/credit/paypal2.png', alt='Paypal')

					// /.box-body
				// /.box
			// /.col
		// /.row
	// /.box-body
// /.box