.box
	.box-body
		.row
			.col-md-12
				.box.box-info
					.box-header
						i.fa.fa-bullhorn
						h3.box-title Game Credit
					// /.box-header
					.box-body
						script(src="https://js.braintreegateway.com/v2/braintree.js", type="text/javascript")
						credit
				// /.box-body
				// /.box
			// /.col
		// /.row
	// /.box-body
// /.box
