.box
	.box-header
		h3.box-title Your inventory
	// /.box-header
	.box-body
		// Table row
		.row
			.col-xs-12.table-responsive
				table.table.table-striped
					thead
						tr
							th Product
							th Validity
						tr
							td(colspan="2") You have {{inventory.budget}}	
					tbody
						tr(ng-repeat="inventoryItem in inventory.inventoryItems")
							td {{inventoryItem.name}}
							td
								p.text-light-blue {{inventoryItem.validity}}
			// /.col
		// /.row
	// /.box-body
// /.box