.box
	.box-header
		h3.box-title Products
	// /.box-header
	.box-body.table-responsive
		table#example1.table.table-bordered.table-striped
			thead
				tr
					th Product
					th Description
					th Price
					th Action
			tbody
				tr(ng-repeat="storeProduct in storeProducts.products")
					td
						a(href="" ng-click="productDetail(link.href)") {{storeProduct.name}}
					td
						| {{storeProduct.description}}
					td
						span(ng-if="storeProduct.price===storeProduct.discountedPrice") {{storeProduct.price}}
						span(ng-if="storeProduct.price!==storeProduct.discountedPrice") 
							strike {{storeProduct.price}}
							|  {{storeProduct.discountedPrice}}
					td 
						div(ng-repeat="link in storeProduct.links | filter: {rel: 'addToCart'}")
							a.btn.btn-primary.btn-xs(href="" ng-click="addToCart(link.href)") {{link.label}}
	// /.box-body
// /.box
