.box
	.box-header
		h3.box-title Products
	// /.box-header
	.box-body.table-responsive
		table#example1.table.table-bordered.table-striped
			thead
				tr
					th Product
					th Description
					th Price
					th Action
			tbody
				tr(ng-repeat="product in products")
					td
						{{product.name}}
					td
						| {{product.description}}
					td
						span(ng-if="product.price===product.discountedPrice") {{product.price}}
						span(ng-if="product.price!==product.discountedPrice") 
							strike {{product.price}}
							|  {{product.discountedPrice}}
					td
						div(ng-repeat="link in product.links | filter: {rel: 'addToCart'}")
							a.btn.btn-primary.btn-xs(href="" ng-click="addToCart(link.href)") {{link.label}}
	// /.box-body
// /.box
