extends layout
block content
	// Content Header (Page header)
	section.content-header
		h1
			| Dashboard
			small Control panel
		ol.breadcrumb
			li.active 
					i.fa.fa-dashboard
					|  Dashboard
	// Main content
	section.content(ng-controller="DashBoardController")
		.row
			.col-lg-4.col-xs-6
				// small box
				.small-box.bg-blue
					.inner
						h3
							| {{dashboard.game.box_header}}
						p
							| {{dashboard.game.box_text}}
					.icon
						i.ion.ion-game-controller-b
					a.small-box-footer(href='{{dashboard.game.box_link}}')
						| {{dashboard.game.box_label}} 
						i.fa.fa-arrow-circle-right
			// ./col-lg-4
			.col-lg-4.col-xs-6
				// small box
				.small-box.bg-aqua
					.inner
						h3
							| {{dashboard.budget.box_header}}
						p
							| {{dashboard.budget.box_text}}
					.icon
						i.ion.ion-cash
					a.small-box-footer(href='{{dashboard.budget.box_link}}')
						| {{dashboard.budget.box_label}} 
						i.fa.fa-arrow-circle-right
			// ./col-lg-4
			.col-lg-4.col-xs-6
				// small box
				.small-box.bg-green
					.inner
						h3
							| {{dashboard.stats.box_header}}
						p
							| {{dashboard.stats.box_text}}
					.icon
						i.ion.ion-stats-bars
					a.small-box-footer(href='{{dashboard.stats.box_link}}')
						| {{dashboard.stats.box_label}} 
						i.fa.fa-arrow-circle-right
			// ./col-lg-4
		// /.row
		// top row
		.row
			.col-lg-4.col-xs-6
				// small box
				.small-box.bg-yellow
					.inner
						h3
							| {{dashboard.profile.box_header}}
						p
							| {{dashboard.profile.box_text}}
					.icon
						i.ion.ion-person
					a.small-box-footer(href='{{dashboard.profile.box_link}}')
						| {{dashboard.profile.box_label}} 
						i.fa.fa-arrow-circle-right
			// ./col-lg-4
			.col-lg-4.col-xs-6
				// small box
				.small-box.bg-red
					.inner
						h3
							| {{dashboard.buy.box_header}}
						p
							| {{dashboard.buy.box_text}}
					.icon
						i.fa.fa-credit-card
					a.small-box-footer(href='{{dashboard.buy.box_link}}')
						| {{dashboard.buy.box_label}} 
						i.fa.fa-arrow-circle-right
			// ./col-lg-4
			.col-lg-4.col-xs-6
				// small box
				.small-box.bg-maroon
					.inner
						h3
							| {{dashboard.product.box_header}}
						p
							| {{dashboard.product.box_text}}
					.icon
						i.ion.ion-eye
					a.small-box-footer(href='{{dashboard.product.box_link}}')
						| {{dashboard.product.box_label}} 
						i.fa.fa-arrow-circle-right
			// ./col-lg-4
			// ./col
		// /.row
		.row
			.col-lg-4.col-xs-6
				// small box
				.small-box.bg-purple
					.inner
						h3
							| {{dashboard.redeem.box_header}}
						p
							| {{dashboard.redeem.box_text}}
					.icon
						i.ion.ion-egg
					a.small-box-footer(href='{{dashboard.redeem.box_link}}')
						| {{dashboard.redeem.box_label}} 
						i.fa.fa-arrow-circle-right
			// ./col-lg-4
			.col-lg-4.col-xs-6
				// small box
				.small-box.bg-teal
					.inner
						h3
							| {{dashboard.shop.box_header}}
						p
							| {{dashboard.shop.box_text}}
					.icon
						i.ion.ion-ios7-cart
					a.small-box-footer(href='{{dashboard.shop.box_link}}')
						| {{dashboard.shop.box_label}} 
						i.fa.fa-arrow-circle-right
			// ./col-lg-4
			.col-lg-4.col-xs-6
				// small box
				.small-box.bg-fuchsia
					.inner
						h3
							| {{dashboard.recommended.box_header}}
						p
							| {{dashboard.recommended.box_text}}
					.icon
						i.ion.ion-archive
					a.small-box-footer(href='/')
						| {{dashboard.recommended.box_label}}
						i.fa.fa-arrow-circle-right
			// ./col-lg-4
			// ./col
		// /.row
		.row
			.col-xs-12.connectedSortable
			// /.col
		// /.row
	// /.content


block javascript
		// jQuery 2.0.2
		script(src='//code.jquery.com/jquery-2.0.2.js', type='text/javascript')
		// jQuery UI 1.10.3
		script(src='//code.jquery.com/ui/1.10.3/jquery-ui.min.js', type='text/javascript')
		// Bootstrap
		script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js', type='text/javascript')
		// AdminLTE App
		script(src='/js/AdminLTE/app.js', type='text/javascript')