extends layout
block content
        // Content Header (Page header)
        section.content-header
          h1
            | Game
          ol.breadcrumb
            li
              i.fa.fa-dashboard
              a(href='/dashboard', target="_top")
                |  Dashboard
            li.active
              i.ion.ion-game-controller-b
                |  Game
        // Main content
        section.content
          include ./includes/alerts
          game
        // /.content