doctype html
html(ng-app="redrumApp")
	
	include ./includes/header.jade
	
	body.skin-blue(ng-controller="MenuController")
		
		// header logo: style can be found in header.less
		header.header
			a.logo(href='/', target="_top")
				// Add the class icon to your logo image or logo icon to add the margining
				| Redrum
			include ./includes/header_navbar
		
		.wrapper.row-offcanvas.row-offcanvas-left
			include ./includes/left_navbar

			// Right side column. Contains the bread-crumb menu and content of the page
			aside.right-side
				block content
			// /.right-side

		// ./wrapper

		block message-modal
		block javascript
