extends layout
block content
        // Content Header (Page header)
        section.content-header
          h1
            | Market
            small Buy items here
          ol.breadcrumb
            li
              i.fa.fa-dashboard
              a(href='/dashboard')
                |  Dashboard
            li.active
              i.fa.fa-shopping-cart
                |  Market
        // Main content
        section.content
              .row
                .col-md-12
                  // Custom Tabs
                  .nav-tabs-custom
                    ul.nav.nav-tabs
                      li.active
                        a(href='#tab_1', data-toggle='tab') Products
                      li
                        a(href='#tab_2', data-toggle='tab') Shopping Cart
                      li
                        a(href='#tab_3', data-toggle='tab') Inventory
                      li
                        a(href='#tab_4', data-toggle='tab') Orders
                      li
                        a(href='#tab_5', data-toggle='tab') Coupons
                      li
                        a(href='#tab_6', data-toggle='tab') Game Credit
                    .tab-content
                      #tab_1.tab-pane.active
                        include ./includes/market/products
                      // /.tab-pane
                      #tab_2.tab-pane
                        | The European languages are members of the same family. Their separate existence is a myth.
                        | For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ
                        | in their grammar, their pronunciation and their most common words. Everyone realizes why a
                        | new common language would be desirable: one could refuse to pay expensive translators. To
                        | achieve this, it would be necessary to have uniform grammar, pronunciation and more common
                        | words. If several languages coalesce, the grammar of the resulting language is more simple
                        | and regular than that of the individual languages.
                      // /.tab-pane
                    // /.tab-content
                  // nav-tabs-custom
                // /.col
              // /.row
        // /.content
block javascript
    // jQuery 2.0.2
    script(src='//code.jquery.com/jquery-2.0.2.js', type='text/javascript')
    // Bootstrap
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js', type='text/javascript')
    // AdminLTE App
    script(src='/js/AdminLTE/app.js', type='text/javascript')
    // AdminLTE for demo purposes
    script(src='/js/AdminLTE/demo.js', type='text/javascript')
    // Data tables script
    script(src='/js/plugins/datatables/jquery.dataTables.js', type='text/javascript')
    script(src='/js/plugins/datatables/dataTables.bootstrap.js', type='text/javascript')
    // page script
    script(src='/js/AdminLTE/tables/data.js',type='text/javascript')

