extends layout
block content
        // Content Header (Page header)
        section.content-header
          h1
            | Market
            small Buy items here
          ol.breadcrumb
            li
              i.fa.fa-dashboard
              a(href='/dashboard', target="_top")
                |  Dashboard
            li.active
              i.fa.fa-shopping-cart
                |  Market
        // Main content
        section.content(ng-controller="MarketController")
          include ./includes/alerts
          .row
            .col-md-12
              // Custom Tabs
              tabset
                tab(heading="Game Credit")
                  include ./includes/market/credit
                tab(heading="Coupons")
                  include ./includes/market/coupons
                tab(heading="Products", select="getProducts()")
                  include ./includes/market/products
                tab(heading="Shopping Cart", select="getCart()")
                  include ./includes/market/cart
                tab(heading="Inventory", select="getInventory()")
                  include ./includes/market/inventory
                tab(heading="Orders", select="getOrders()")
                  include ./includes/market/orders
            // /.col
          // /.row
        // /.content
block javascript
    // jQuery 2.0.2
    script(src='//code.jquery.com/jquery-2.0.2.js', type='text/javascript')
    // Bootstrap
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js', type='text/javascript')
    // AdminLTE App
    script(src='/js/AdminLTE/app.js', type='text/javascript')