extends layout
block content
        // Content Header (Page header)
        section.content-header
          h1
            | Market
          ol.breadcrumb
            li
              i.fa.fa-dashboard
              a(href='/dashboard', target="_top")
                |  Dashboard
            li.active
              i.fa.fa-shopping-cart
                |  Market
        // Main content
        section.content(ng-controller="MarketController")
          include ./includes/alerts
          .row
            .col-md-12
              // Custom Tabs
              uib-tabset
                
                uib-tab(heading="Game Credit", active="isCredit")
                  include ./includes/market/credit
                
                uib-tab(heading="Coupons", active="isCoupons", select="getCart()")
                  include ./includes/market/coupons
                
                uib-tab(heading="Recommended for you", active="isRecommended")
                  include ./includes/market/recommended
                
                uib-tab(heading="Products", active="isProducts", select="getProducts()")
                  include ./includes/market/products
                
                uib-tab(heading="Shopping Cart", active="isCart", select="getCart()")
                  include ./includes/market/cart
                
                uib-tab(heading="Inventory", active="isInventory", select="getInventory()")
                  include ./includes/market/inventory
                
                uib-tab(heading="Orders", active="isOrders" select="getOrders()")
                  include ./includes/market/orders

            // /.col
          // /.row
        // /.content