extends layout
block content
        // Content Header (Page header)
        section.content-header
          h1
            | Market
          ol.breadcrumb
            li
              i.fa.fa-dashboard
              a(href='/dashboard', target="_top")
                |  Dashboard
            li.active
              i.fa.fa-shopping-cart
                |  Market
        // Main content
        section.content(ng-controller="MarketController")
          include ./includes/alerts
          .row
            .col-md-12
              // Custom Tabs
              tabset
                tab(heading="Game Credit", data-ng-class="menuctrl.atLocation('credit')")
                  include ./includes/market/credit
                tab(heading="Coupons", select="getCart()", data-ng-class="menuctrl.atLocation('coupons')")
                  include ./includes/market/coupons
                tab(heading="Products", select="getProducts()", data-ng-class="menuctrl.atLocation('products')")
                  include ./includes/market/products
                tab(heading="Shopping Cart", select="getCart()", data-ng-class="menuctrl.atLocation('cart')")
                  include ./includes/market/cart
                tab(heading="Inventory", select="getInventory()", data-ng-class="menuctrl.atLocation('inventory')")
                  include ./includes/market/inventory
                tab(heading="Orders", select="getOrders()", data-ng-class="menuctrl.atLocation('orders')")
                  include ./includes/market/orders
            // /.col
          // /.row
        // /.content