extends layout
block content
        // Content Header (Page header)
        section.content-header
          h1
            | Market
            small Buy items here
          ol.breadcrumb
            li
              i.fa.fa-dashboard
              a(href='/dashboard')
                |  Dashboard
            li.active
              i.fa.fa-shopping-cart
                |  Market
        // Main content
        section.content(ng-controller="MarketController", style="border:1px solid red;")
          include ./includes/alerts
          .row
            .col-md-12
              // Custom Tabs
              tabset
                tab(heading="Products")
                  include ./includes/market/products
                tab(heading="Shopping Cart")
                  include ./includes/market/cart
                tab(heading="Inventory")
                  include ./includes/market/inventory
                tab(heading="Orders")
                  include ./includes/market/orders
                tab(heading="Coupons")
                  include ./includes/market/coupons
                tab(heading="Game Credit")
                  include ./includes/market/credit
            // /.col
          // /.row
        // /.content
block javascript
    // jQuery 2.0.2
    script(src='//code.jquery.com/jquery-2.0.2.js', type='text/javascript')
    // Bootstrap
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js', type='text/javascript')
    // AdminLTE App
    script(src='/js/AdminLTE/app.js', type='text/javascript')
    // AdminLTE for demo purposes
    script(src='/js/AdminLTE/demo.js', type='text/javascript')
    // Data tables script
    script(src='/js/plugins/datatables/jquery.dataTables.js', type='text/javascript')
    script(src='/js/plugins/datatables/dataTables.bootstrap.js', type='text/javascript')
    // page script
    script(src='/js/AdminLTE/tables/data.js',type='text/javascript')

