extends layout
block content
        // Content Header (Page header)
        section.content-header
          h1
            | Market
            small Buy items here
          ol.breadcrumb
            li
              i.fa.fa-dashboard
              a(href='/dashboard')
                |  Dashboard
            li.active
              i.fa.fa-shopping-cart
                |  Market
        // Main content
        section.content
              include ./includes/alerts
              .row
                .col-md-12
                  // Custom Tabs
                  .nav-tabs-custom
                    ul.nav.nav-tabs
                      li.active
                        a(href='#products', data-toggle='tab') Products
                      li
                        a(href='#cart', data-toggle='tab') Shopping Cart
                      li
                        a(href='#inventory', data-toggle='tab') Inventory
                      li
                        a(href='#orders', data-toggle='tab') Orders
                      li
                        a(href='#coupons', data-toggle='tab') Coupons
                      li
                        a(href='#credit', data-toggle='tab') Game Credit
                    .tab-content
                      #products.tab-pane.active
                        include ./includes/market/products
                      // /.tab-pane
                      #cart.tab-pane
                        include ./includes/market/cart
                      // /.tab-pane
                      #inventory.tab-pane
                        include ./includes/market/inventory
                      // /.tab-pane
                      #orders.tab-pane
                        include ./includes/market/orders
                      // /.tab-pane
                      #coupons.tab-pane
                        include ./includes/market/coupons
                      // /.tab-pane
                      #credit.tab-pane
                        include ./includes/market/credit
                      // /.tab-pane

                    // /.tab-content
                  // nav-tabs-custom
                // /.col
              // /.row
        // /.content
block javascript
    // jQuery 2.0.2
    script(src='//code.jquery.com/jquery-2.0.2.js', type='text/javascript')
    // Bootstrap
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js', type='text/javascript')
    // AdminLTE App
    script(src='/js/AdminLTE/app.js', type='text/javascript')
    // AdminLTE for demo purposes
    script(src='/js/AdminLTE/demo.js', type='text/javascript')
    // Data tables script
    script(src='/js/plugins/datatables/jquery.dataTables.js', type='text/javascript')
    script(src='/js/plugins/datatables/dataTables.bootstrap.js', type='text/javascript')
    // page script
    script(src='/js/AdminLTE/tables/data.js',type='text/javascript')

