extends layout
block content
        // Content Header (Page header)
        section.content-header
          h1
            | Profile
            small Change your user information here
          ol.breadcrumb
            li
              i.fa.fa-dashboard
              a(href='/dashboard.html')
                |  Dashboard
            li.active
              i.fa.fa-user
                |  Profile
        // Main content
        section.content
        // /.content
block javascript
    // jQuery 2.0.2
    script(src='/js/libs/jquery.min.js')
    // Bootstrap
    script(src='/js/bootstrap.min.js', type='text/javascript')
    // AdminLTE App
    script(src='/js/AdminLTE/app.js', type='text/javascript')
    // AdminLTE for demo purposes
    script(src='/js/AdminLTE/demo.js', type='text/javascript')
