extends layout
block content
    // Content Header (Page header)
    section.content-header
      h1
        | Profile
      ol.breadcrumb
        li
          i.fa.fa-dashboard
          a(href='/dashboard', target="_top")
             |  Dashboard
        li.active
          i.fa.fa-user
             |  Profile
    // Main content
    section.content
      include ./includes/alerts
      include ./includes/profile/profile
    // /.content
