extends layout
block content
    // Content Header (Page header)
    section.content-header
      h1
        | Profile
        small Change your user information here
      ol.breadcrumb
        li
          i.fa.fa-dashboard
          a(href='/dashboard')
             |  Dashboard
        li.active
          i.fa.fa-user
             |  Profile
    // Main content
    section.content
      .row
        .col-md-6
          .box.box-danger
            .box-header
              i.fa.fa-warning
              h3.box-title Alerts
            // /.box-header
            .box-body
              .alert.alert-danger.alert-dismissable
                i.fa.fa-ban
                button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
                b Alert!
                | Danger alert preview. This alert is dismissable.
              .alert.alert-info.alert-dismissable
                i.fa.fa-info
                button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
                b Alert!
                | Info alert preview. This alert is dismissable.
              .alert.alert-warning.alert-dismissable
                i.fa.fa-warning
                button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
                b Alert!
                | Warning alert preview. This alert is dismissable.
              .alert.alert-success.alert-dismissable
                i.fa.fa-check
                button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
                b Alert!
                | Success alert preview. This alert is dismissable.
            // /.box-body
          // /.box
        // /.col
      // /.row
      //h2.page-header Custom Tabs
      .row
        .col-md-6
          // Custom Tabs
          .nav-tabs-custom
            ul.nav.nav-tabs
              li.active
                a(href='#tab_1', data-toggle='tab') Name
              li
                a(href='#tab_2', data-toggle='tab') Email
              li
                a(href='#tab_3', data-toggle='tab') Password
            .tab-content
              #tab_1.tab-pane.active
                // general form elements
                .box.box-primary
                  // form start
                  form(role='form')
                    .box-body
                      .form-group
                        label(for='firstName') First Name :  
                        input#firstName.form-control(type='text', placeholder='Please enter your first name.')
                      .form-group
                        label(for='lastName') Last Name : 
                        input#lastName.form-control(type='text', placeholder='Please enter your last name.')
                    // /.box-body
                    .box-footer
                      button.btn.btn-primary(type='submit') Submit
                // /.box
              // /.tab-pane
              #tab_2.tab-pane
                // general form elements
                .box.box-primary
                  // form start
                  form(role='form')
                    .box-body
                      .form-group
                        label(for='email') Email : 
                        input#email.form-control(type='email', placeholder='Please enter your email.')
                    // /.box-body
                    .box-footer
                      button.btn.btn-primary(type='submit') Submit
                // /.box
              // /.tab-pane
              #tab_3.tab-pane
                // general form elements
                .box.box-primary
                  // form start
                  form(role='form')
                    .box-body
                      .form-group
                        label(for='password') Password : 
                        input#password.form-control(type='password', placeholder='Password')
                      .form-group
                        label(for='password') Password (repeat) : 
                        input#password.form-control(type='password', placeholder='Password')
                    // /.box-body
                    .box-footer
                      button.btn.btn-primary(type='submit') Submit
                // /.box
              // /.tab-pane
            // /.tab-content
          // nav-tabs-custom
        // /.col
      // /.content

block javascript
    // jQuery 2.0.2
    script(src='//code.jquery.com/jquery-2.0.2.js', type='text/javascript')
    // Bootstrap
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js', type='text/javascript')
    // AdminLTE App
    script(src='/js/AdminLTE/app.js', type='text/javascript')
    // AdminLTE for demo purposes
    script(src='/js/AdminLTE/demo.js', type='text/javascript')
