extends popup_layout
block title
  title Redrum | Sign in
block content
  #login-box.form-box(ng-controller="UserController", ng-init="getFaceBookSignInUrl()")
    .header Sign In
      .body.bg-gray
        .box.box-solid(ng-controller="AlertController", ng-init="getAlerts()")
          .box-header(ng-show="alerts.length>0")
            i.fa(ng-repeat="alert in alerts")
              h3.box-title {{alert.message}}
          // /.box-header
        // /.box  
        button.btn.btn-block.btn-large.btn-facebook.btn-social(ng-click="facebookLogin(faceBookSignInUrl)")
          i.fa.fa-facebook
          | Sign in with FaceBook
        // button
        //- button.btn.btn-block.btn-large.btn-bitbucket.btn-social(ng-click="bitbucketLogin(faceBookSignInUrl)")
        //-   i.fa.fa-bitbucket
        //-   | Sign in with BitBucket
        //- // button  
        //- button.btn.btn-block.btn-large.btn-google-plus.btn-social(ng-click="googlePlusLogin(faceBookSignInUrl)")
        //-   i.fa.fa-google-plus
        //-   | Sign in with Google+
        //- // button  
        //- button.btn.btn-block.btn-large.btn-flickr.btn-social(ng-click="googlePlusLogin(faceBookSignInUrl)")
        //-   i.fa.fa-flickr
        //-   | Sign in with Flickr
        //- // button

