extends popup_layout
block title
  title Redrum | Sign in
block content
  #login-box.form-box(ng-controller="UserController", ng-init="getFaceBookSignInUrl()")
    .header Sign In
      .body.bg-gray
        button.btn.btn-lg.bg-blue.btn-block(ng-click="facebookLogin(faceBookSignInUrl)")
          | Sign in with FaceBook