extends layout
block content
        // Content Header (Page header)
        section.content-header
          h1
            | Statistics
          ol.breadcrumb
            li
              i.fa.fa-dashboard
              a(href='/dashboard', target="_top")
                |  Dashboard
            li.active
              i.ion.ion-stats-bars
                |  Stats
        // Main content
        section.content
          include ./includes/alerts
          .box
            .box-header
              h3.box-title Your statistics
            // /.box-header
            .box-body
              // Table row
              .row
                .col-xs-12.table-responsive
                  stats
                // /.col
              // /.row
            // /.box-body
          // /.box
        // /.content