extends layout
block content
        // Content Header (Page header)
        section.content-header
          h1
            | Statistics
            small See your statistics here
          ol.breadcrumb
            li
              i.fa.fa-dashboard
              a(href='/dashboard', target="_top")
                |  Dashboard
            li.active
              i.ion.ion-stats-bars
                |  Stats
        // Main content
        section.content(ng-controller="StatsController")
          include ./includes/alerts
          include ./includes/stats/stats
        // /.content
block javascript
    // jQuery 2.0.2
    script(src='//code.jquery.com/jquery-2.0.2.js', type='text/javascript')
    // Bootstrap
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js', type='text/javascript')
    // AdminLTE App
    script(src='/js/AdminLTE/app.js', type='text/javascript')
