.box
	.box-header
		h3.box-title Your statistics
	// /.box-header
	.box-body
		// Table row
		.row
			.col-xs-12.table-responsive
				table.table.table-striped

					thead
						tr
							td
								| Overall
							td(colspan="2")
								div(class="progress")
									div(class="progress-bar progress-bar-{{stat.type}}", style="width: {{stat.percent}}", ng-repeat="stat in stats | filter:filterFunction  | orderBy:'order'")
										span(class="tooltip-content") {{stat.label}} ({{stat.value}} - {{stat.percent}})	
					tbody
						tr
							td(style="width: 200px") Games
							td Count
							td(style="width: 50px") Percent
						tr(ng-repeat="stat in stats | orderBy:'order'")
							td 
								| {{stat.label}} ({{stat.value}} games)
							td
								div(class="progress-bar progress-bar-{{stat.type}}", role="progressbar", aria-valuenow="{{stat.value}}", style="width: {{stat.percent}}")
									span {{stat.value}}
							td
								span(class='{{stat.percentClass}}')
									| {{stat.percent}}
			// /.col
		// /.row
	// /.box-body
// /.box
