<div class="box" data-ng-hide="user.activeGame.activeGame">
	<div class="box-header">
		<h3 class="box-title">Select a game level</h3>
	</div>
	<div class="box-body">
		<div class="row">
			<div class="col-xs-12">
				<div class="btn-group" data-toggle="buttons" ng-repeat="gameLevel in gameLevels.links | filter: filterLevelsOnly">
					<div>
						<button class="btn btn-primary btn-lg" data-ng-click="game(gameLevel,true)">{{gameLevel.label}}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="box" data-ng-show="user.activeGame.activeGame">
	<div class="box-header">
		<h3 class="box-title">Current Game</h3>
		Current game Key: {{user.activeGame.currentGameKey}}
		<div ng-repeat="link in user.activeGame.links | filter: filterQuit">
			<div>
				<button class="btn btn-primary btn-lg" data-ng-click="gameNoResponse(link, true)">{{link.label}}</button>
			</div>
		</div>
		<div ng-repeat="link in user.activeGame.links | filter: filterContinue">
			<div>
				<button class="btn btn-primary btn-lg" data-ng-click="game(link, true)">{{link.label}}</button>
			</div>
		</div>
	</div>
</div>
