<table class="table table-striped" data-ng-show="orders.orderDtos.length===0">
	<thead>
		<tr>
			<th>Your don't have any orders!</th>
		</tr>
	</thead>
</table>

<table class="table table-bordered table-striped" data-ng-hide="orders.orderDtos.length===0">
	<thead>
		<tr>
			<th>#</th>
			<th>Order</th>
			<th>Date</th>
			<th>Detail</th>
			<th>Total</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="order in orders.orderDtos">
			<td>{{$index+1}}</td>
			<td>{{order.orderType}} - {{order.orderId}}</td>
			<td>{{order.purchaseDate | date:'MM/dd/yyyy'}}</td>
			<td>
				<div data-ng-repeat="orderItem in order.orderItemDtoList">
					{{orderItem.quantity}} x {{orderItem.description}}  {{orderItem.cost}}
					<!-- {{orderItem.productId}} {{orderItem.productName}} {{orderItem.productType}} -->
				</div>
			</td>
			<td>{{order.cost}}</td>

		</tr>
	</tbody>
</table>