<table class="table table-striped">

	<thead ng-show="stats.showOverall">
		<tr>
			<td>Overall</td>
			<td colspan="2">
				<div class="progress">
					<div class="progress-bar progress-bar-{{stat.type}}" style="width: {{stat.percent}}" ng-repeat="stat in stats.detail | filter:filterFunction  | orderBy:'order'">
						<span class="tooltip-content"> {{stat.label}} ({{stat.value}} - {{stat.percent}})</span>
					</div>
				</div>
			</td>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td style="width: 200px"> Games</td>
			<td> Count</td>
			<td style="width: 50px"> Percent</td>
		</tr>
		<tr ng-repeat="stat in stats.detail | orderBy:'order'">
			<td>{{stat.label}} ({{stat.value}} games)</td>
			<td>
				<div class="progress-bar progress-bar-{{stat.type}}" role="progressbar" aria-valuenow="{{stat.value}}" style="width: {{stat.percent}}">
					<span>{{stat.value}}</span>
				</div>
			</td>
			<td>
				<span class='{{stat.percentClass}}'>{{stat.percent}}</span>
			</td>
		</tr>
	</tbody>

</table>

