.box
  .box-header
    h3.box-title Profile
  // /.box-header 
  .box-body.table-responsive
    table.table.table-hover
      tr
        td(width="10%") 
          | Name :
        td
          | {{user.fullName}}
      tr
        td 
          | User Name :
        td
          | {{user.fullName}}
      tr
        td 
          | Email :
        td
          | {{user.email}}
      tr
        td 
          | Date Created :
        td
          | {{user.memberSince | date:'MMM dd yyyy, HH:MM:ss'}}
      tr
        td 
          | Gravatar:
        td
          img.img-circle(height="40", ng-src="{{user.avatar}}", alt="{{user.userName}}")
  // /.box-body
// /.box
